:root {
    --primary-color: #0d3b66ff;
    --secondary-font-color: white;
    --background: #f0f7f4ff;
    --primary-font-color: black;
    --secondary-color: #873d48ff;
    --primary-accent-color: #d58936ff;
    --secondary-accent-color: #6a8d92ff;


    --primary-font: ntserrat-fancy, Arial, sans-serif;
    --secondary-font: "Edu QLD Beginner", Geneva, serif;

    font-family: var(--primary-font);
    background-color: var(--background);
    color: var(--primary-font);
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--background);

    height: 50px;
}

header img {
    padding: 5px;
    width: 35px;
    height: 35px;
    color: var(--background);
}

.appName {
    font-family: var(--secondary-font);
    font-size: xx-large;
}

/* body  */



button:hover {
    background-color: var(--primary-accent-color);
}


.add {
    background-color: var(--primary-color);
    color: var(--background);

}



#hero {
    opacity: .7;
    width: 100%;
}

h1 {
    display: grid;
    justify-content: center;
    padding-left: 5px;
}

p {
    padding-left: 10px;
    font-family: var(--secondary-font);
    padding-right: 10px;
}

h2 {
    display: grid;
    justify-content: center;
    padding-left: 5px;
}

@keyframes colorChange {
    0% {
        border-color: var(--primary-accent-color);
    }

    33% {
        border-color: var(--primary-color);
    }

    66% {
        border-color: var(--primary-accent-color);
    }

    100% {
        border-color: var(--secondary-color);
    }
}

.yourLibrary {
    background-color: var(--secondary-font-color);
    color: black;
    padding: 15px;
    border: 4px dotted var(--primary-accent-color);
    animation: colorChange 3s infinite alternate;
}

h3 {
    display: grid;
    justify-content: center;
}



div #bookCard {
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
    height: 50px;
}

a {
    text-decoration: none;
    color: var(--background);
    padding-left: 10px;
}
#accent{
    width: 100%;
}

/* adjusting for differnt size screens */
@media screen and (min-width: 600px) {

    ul {
        display: flex;
        justify-content: space-around;
    }

    p {}

    .what {
        grid-area: what;
    }

    .word {
        grid-area: word;

    }



    .search {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 10px;
    }

    .hero {
        grid-area: 1/2/2/3;
        margin-left: 1px;
    }

    #healthCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .mental {
        width: 40%;
    }
}

/* footer  */
footer {
    display: flex;
    background-color: var(--primary-font-color);
    color: var(--background);
    border-top: 3px solid var(--primary-color);
}