:root {
    --primary-color: #0d3b66ff;
    --secondary-font-color: white;
    --background: #f0f7f4ff;
    --primary-font-color: black;
    --secondary-color: #873d48ff;
    --priamry-accent-color: #d58936ff;
    --secondary-accent-color: #6a8d92ff;


    --primary-font: ntserrat-fancy, Arial, sans-serif;
    --secondary-font: "Edu QLD Beginner", Geneva, serif;

    font-family: var(--primary-font);
    background-color: var(--background);
    color: var(--primary-font);
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

header img {
    padding: 5px;
}

span {
    font-family: var(--primary-font);
}



.current a {
    color: whitesmoke;
}

save a:hover {
    background-color: var(--accent-color);
}

.current {
    background-color: var(--primary-color);

}



#hero {
    opacity: .7;
    width: 100%;
}

h1 {
    display: grid;
    justify-content: center;
    padding-left: 5px;
}

p {
    padding-left: 10px;
    font-family: var(--secondary-font);
    padding-right: 10px;
}

h2 {
    display: grid;
    justify-content: center;
    padding-left: 5px;
}



.emphasis {
    background-color: var(--secondary-font-color);
    color: var(--background);
    padding: 15px;
    border: 4px dotted var(--secondary-color);
}

form {
    display: grid;
    max-width: 356px;
    border: 4px solid var(--primary-font-color);
    border-radius: 8px;
    padding-bottom: 5px;
}

.term {
    display: unset;
}

.top {
    flex-direction: column;
}

#submit {
    padding: 5px;
    margin: 5px;
    background-color: var(--secondary-color);
    /* color: var(--background); */
}

.radio {
    display: grid;
    padding: 8px;
    margin-left: 5px;

}

input {
    accent-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

label {
    padding: 2px;
    margin: 3px;
}

h3 {
    display: grid;
    justify-content: center;
}

.term {
    display: grid;

}

.search {
    margin-left: 10px;
}

.bananaImg {
    width: 95%;
}



#searchResults {
    border: 5px dashed var(--primary-font-color);
    color: var(--secondary-font-color);
}

#firstSearchJoke {
    border: 4px solid var(--primary-color);
    padding: 10px;
}



.visits {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--secondary-font-color);
    color: var(--background);
}

div #bookCard {
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
    height: 50px;
}

.mental {
    border: 1px solid var(--primary-font-color);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-color: var(--background);

}

.cost {
    color: var(--secondary-font-color);
    display: grid;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--background);
    padding-left: 10px;
}

/* adjusting for differnt size screens */
@media screen and (min-width: 600px) {
   
    ul {
        display: flex;
        justify-content: space-around;
    }

    p {}

    .what {
        grid-area: what;
    }

    .word {
        grid-area: word;

    }

    

    .search {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 10px;
    }

    .bananaimg {
        grid-area: 1/2/2/3;
        margin-left: 1px;
    }

    #healthCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .mental {
        width: 40%;
    }
}

/* footer  */
footer {
    display: flex;
    background-color: var(--primary-font-color);
    color: var(--background);
    border-top: 3px solid var(--primary-color);
}

